[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
openapi-schema-pydantic = "*"
sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
sqlalchemy-utils = "*"
flask-babel = "*"

[dev-packages]

[requires]
python_version = "3.9"
