[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
openapi-schema-pydantic = "*"
sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
